<section id="category-slider" class="category-slider-main-block">
    <div class="container-fluid">
      <div class="slider multiple-items">
        <div>
          <h6 class="category-title"><a href="" title="">Digital Marketing</a></h6>
        </div>
        <div>
          <h6 class="category-title"><a href="#" title="">Graphics & Design</a></h6>
        </div>
        <div>
          <h6 class="category-title"><a href="#" title="">Writing & Translation</a></h6>
        </div>
        <div>
          <h6 class="category-title"><a href="#" title="">Video & Animation</a></h6>
        </div>
        <div>
          <h6 class="category-title"><a href="#" title="">Music & Audio</a></h6>
        </div>
        <div>
          <h6 class="category-title"><a href="#" title="">Programming & Tech</a></h6>
        </div>
        <div>
          <h6 class="category-title"><a href="#" title="">Business</a></h6>
        </div>
        <div>
          <h6 class="category-title"><a href="#" title="">Lifestyle</a></h6>
        </div>
          <div>
          <h6 class="category-title"><a href="#" title="">Data</a></h6>
        </div>
        <div>
          <h6 class="category-title"><a href="#" title="">Digital Marketing</a></h6>
        </div>
      </div>
    </div>
  </section>