<!-- Footer Start-->
<footer id="footer" class="footer-main-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="footer-logo mb_30">
            <a href="#" title=""><img src="assets/images/logo/logo.png" class="img-fluid" alt=""></a>
          </div>
          <p class="mb_30">Lorem ipsum dolor sit amet cot Fusce orci euismod morbi in egt in. Placerat nibh feugiat cras posuere dictum id amet.</p>
          <div class="footer-icons mb_30">
            <ul>
              <li><a href="#" title=""><i class="flaticon-facebook-app-symbol"></i></a></li>
              <li><a href="#" title=""><i class="flaticon-twitter"></i></a></li>
              <li><a href="#" title=""><i class="flaticon-linkedin"></i></a></li>
              <li><a href="#" title=""><i class="flaticon-pinterest"></i></a></li>
              <li><a href="#" title=""><i class="flaticon-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-8 col-12">
          <div class="row">
            <div class="col-md-3 col-6">
              <div class="footer-widget mb_30">
                <h4 class="footer-widget-title mb_30">Categories</h4>
                <ul>
                  <li><a href="#" title="">Development</a></li>
                  <li><a href="#" title="">Design & Creative</a></li>
                  <li><a href="#" title="">Video & Animation</a></li>
                  <li><a href="#" title="">Digital Marketing</a></li> 
                  <li><a href="#" title="">More</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-6">
              <div class="footer-widget mb_30">
                <h4 class="footer-widget-title mb_30">Other</h4>
                <ul>
                  <li><a href="#" title="">Development</a></li>
                  <li><a href="#" title="">Design & Creative</a></li>
                  <li><a href="#" title="">Video & Animation</a></li>
                  <li><a href="#" title="">Digital Marketing</a></li> 
                  <li><a href="#" title="">More</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-6">
              <div class="footer-widget">
                <h4 class="footer-widget-title mb_30">About</h4>              
                <ul>
                  <li><a href="#" title="">Careers</a></li>
                  <li><a href="#" title="">Press & News</a></li>
                  <li><a href="#" title="">Partnerships</a></li>
                  <li><a href="#" title="">Privacy Policy</a></li> 
                  <li><a href="terms_and_conditions.html" title="">Terms of Service</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-6">
              <div class="footer-widget">
                <h4 class="footer-widget-title mb_30">Support</h4>
                <ul>
                  <li><a href="#" title="">Help & Support</a></li>
                  <li><a href="#" title="">Resources</a></li>
                  <li><a href="blog.html" title="">Blog</a></li>
                  <li><a href="#" title="">Community</a></li> 
                  <li><a href="#" title="">Affiliate Program</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="tiny-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-lg-start text-sm-center mb_20">
          <p>© Copyright 2024, All Right Received</p>
        </div>
        <div class="col-md-6">
          <div class="footer-dropdown text-lg-end text-sm-center">
            <ul>
              <li>
                <div class="dropup">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Currency<i class="flaticon-upload"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"><i class="flaticon-dollar"></i> USD</a></li>
                    <li><a class="dropdown-item" href="#"><i class="flaticon-currency"></i> INR</a></li>
                    <li><a class="dropdown-item" href="#"><i class="flaticon-euro"></i> EURO</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="dropup">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Language<i class="flaticon-upload"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">English</a></li>
                    <li><a class="dropdown-item" href="#">Hindi</a></li>
                    <li><a class="dropdown-item" href="#">Arabic</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End-->