<section id="join" class="join-main-block">
    <div class="container">
      <div class="join-block text-center" style="background-image: url('assets/images/join/Vector.png');">
        <div class="join-dtl">
          <h1 class="join-title">Join 8,000+ User in the world</h1>
          <a href="#" class="btn btn-primary" title="">Join Us</a>
        </div>
      </div>
    </div>
  </section>