<!-- Top Bar Start -->
<div id="top-bar" class="top-bar-main-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-12">
          <div class="logo mb_10">
            <a href="#" title=""><img src="assets/images/logo/logo.png" class="img-fluid" alt=""></a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <nav class="navbar navbar-expand-lg">
            <div class="top-bar-menu mb_10">
              <ul>
                <li>
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                      aria-expanded="false">Explore <i class="flaticon-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="about.html">About Us</a></li>
                      <li><a class="dropdown-item" href="bid.html">Bid</a></li>
                      <li><a class="dropdown-item" href="blog.html">Blogs</a></li>
                      <li><a class="dropdown-item" href="categories-filter.html">Categories</a></li>
                      <li><a class="dropdown-item" href="contact.html">Contact Us</a></li>
                      <li><a class="dropdown-item" href="freelancer.html">Our Freelances</a></li>
                      <li><a class="dropdown-item" href="seller.html">Become a Sellers</a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="seller.html" class="seller-top-btn">Become a seller</a>
                </li>
                <li>
                  <a href="companies.html" class="seller-top-btn">Companies</a>
                </li>
                <li>
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Language <i class="flaticon-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">English</a></li>
                      <li><a class="dropdown-item" href="#">Hindi</a></li>
                      <li><a class="dropdown-item" href="#">Arabic</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="login-btn text-end">
            <ul>
              <li>
                <div class="search-container">
                  <form action="/search" method="get">
                    <input class="expandright search-input" id="searchright" type="search" placeholder="Search">
                    <label class="button search-icon" for="searchright"><span class="mglass"><i class="flaticon-search-interface-symbol"></i></span></label>
                  </form>
                </div>
              </li>
              <li><a href="login.html" title="" class="btn btn-primary top-btn">Log in</a></li>
              <li><a href="signup.html" title="" class="btn btn-primary top-btn">Sign Up</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Bar End -->